/*the navbar must have the following: box-sizing: border-box for all elements */

* {
    box-sizing: border-box;
}

#container {
    position: relative;
}
body {
    margin: 0;
}
nav {
    background: lightgrey;
    margin: 0;
}
/*default styling is removed as needed from the body, unordered list and anchor tag elements */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* made unordered list a flex container */
    /* display: flex makes the children of this container become flex items  */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/*link text, the logo, and icons are surrounded by anchor tags
anchor tags are display: inline-block. clickable area of links immediately flow from one link to the next
google fonts used for link text work sans*/
ul a {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
}
/*links turn blue on hover */
nav a:hover {
    background: blue;
}

/* the "Logo" text is 3em with .2em of padding above and below
 font for logo is google fonts montserrat*/
.logo {
    position: absolute;
    top: -1.2em;
    left: calc(50% - 1.2em);
}
.logo a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    display: inline-block; /*increases clickable area beyond the text */
    padding: .2em;     /*this spaces out the links on all sides*/
}
nav ul li:nth-child(4) {
    margin-right: auto;
}




