html {
    background-image: url('/img/156053-green-yellow-and-white-background.jpg');
    background-size: cover;
    font-family: Arial, Verdana, Helvetica, Sans-Serif, serif;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.62), rgba(232, 167, 202, 0.78));
}

.fancy-header {
    color: #b201a8;
    text-decoration: underline;
}

h1 {
    text-decoration: underline;
}

.business-header {
    color: black;
    font-family: Chalkboard, Arial, Sans-Serif, serif;
}

ul {
    list-style: circle;
}

ol {
    list-style: upper-alpha;
}

th, td, tr {
    padding: 5px;
    border-style: groove;
    font-family: Chalkboard, Arial, Sans-Serif, Serif, serif;
}

a:link {
    color:lightgreen;
}

a:visited {
    color:gray;
}

a:hover {
    color:dodgerblue;
}

a:active {
    color:red;
}



