h1, h2, h3, h4, h5, h6, p, body {
    font-family: 'Acme', sans-serif;
}

.card-body, #map-container, #input-form {
    background-color: #ffe9e3;
}

#card5d img {
    width: 50%;
}

#card-title, .card-header {
    background-color: #c4c1e0;
}

#purple-bg, footer {
    background-color: #7373e6;
    width: 100%;
}

#weather-container {
    background-image: url("/img/city.jpg");
    background-size: cover;
}

#map {
    width: 500px;
    height: 500px;
    margin: 2rem auto;
}

/*color palette from https://www.csscolorpalettes.com/palettes/purple/color*/